body {
	text-align: center;
	text-decoration: none;
	margin: 0;
}
header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}
main {
	width: 850px;
	margin: 35px auto;
}
nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0px;
}
a {
	margin: 0 20px;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 18px;
	border-bottom: 2px solid transparent;
}
a.hover {
	border-color: white;
}
h1 {
	color: #0D2C40;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}
h2 {
	color: #0D2C40;
	font-weight: 600;
	font-size: 20px;
}
a, h1, h2 {
	font-family: Raleway, San-Serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}
p {
	font-family: "Droid Serif", San-Serif;
	line-height: 26px;
	font-size: 18px;
}

img {
	margin: 45px 8px 0 8px;
}
footer {
	text-transform: uppercase;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;	
}
.name {
	color: #F15B31;
	font-weight: 700;
}
.copyright {
	font-family: Raleway, San-Serif;
	float: left;
}
.message {
	font-family: Raleway, San-Serif;
	float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
